/* add css module styles here (optional) */

/* font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
}

p,
span,
ul,
li {
  color: #46acc2;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1rem;
}

.calendarContain {
  margin: auto 0;
}
.main {
  padding: 0 2%;
}
.calendarDays {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 100%;
  float: none;
  min-height: 350px;
  height: 100%;
  font-size: 12px;
  /* padding: 1rem 0 0 0; */
  background: #f5f7f6;
}

.calendarTopbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 32px;
  flex: 32px 0 0;
}

.topbarDays {
  width: 100%;
  color: #2d4338;
  background: #cfcfcf;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid #fff;
  padding: 1rem;
  font-family: "Anton", sans-serif;
}
.saturday {
  color: red;
}
.calendarWeek {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 0;
}
.title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 2%;
  font-family: "Sansita Swashed", cursive;
}
@media screen and (max-width: 520px) {
  .title {
    font-size: 2.8rem;
  }
}
.calendarDay {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  justify-content: center;
  width: 100%;
  border: 1px solid #fff;
  text-align: center;
}
.calendarDay:hover {
  background-color: #0dab76;
  cursor: pointer;
}
.calendarDay:hover .calendarDate {
  color: white !important;
}
.active {
  background-color: #46acc2;
  color: white;
}
.holiday > .calendarDate {
  color: white;
}

.calendarDate {
  color: #040605;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 0.4;
}
@media screen and (min-width: 55em) {
  .calendarDate {
    font-size: 2.3rem;
  }
}

.calendarWeek .inactive .calendarDate,
.calendarWeek .inactive .taskCount {
  color: #c6c6c6;
}
.calendarWeek .today .calendarDate {
  color: white;
}

.calendarTask {
  color: #040605;
  display: -webkit-box;
  display: flex;
  font-size: 0.8rem;
}
@media screen and (min-width: 55em) {
  .calendarTask {
    font-size: 1rem;
  }
}
